<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    
    <link rel="stylesheet" href= " {% static 'beadaz\css\css.css' %}" / >
    <link rel="stylesheet" href= " {% static 'beadaz\css\owl.carousel.min.css'%}" / >
    <link rel="stylesheet" href= " {% static 'beadaz\css\all.min.css' %}" / >
    <link rel="stylesheet" href= " {% static 'beadaz\css\style.css' %}" / >
    <link rel="stylesheet" href= " {% static 'beadaz\css\font.css' %}" / >

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include Font Awesome CSS (either from CDN or your local installation) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJMYCDaInQqF5+aklGGJuKKBwy5R5P1" crossorigin="anonymous">

   
    <title>Beadazzle.com  {% block title %}{% endblock title  %}</title>
</head>
<body>
  <nav>
    <div class="nav-bar">
       <span class="logo navLogo"><a href="#"><img src=" {% static "beadaz\images\NewLogo.png" %}"  /></a></span>
       
       <i class='bx bx-menu sidebarOpen' ></i>
        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">Beadazzle</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>
            {% if request.user.is_authenticated %}

            <ul class="nav-links">
                <li><a href="{% url "home" %}">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">Products</a>
                  <div class="dropdown-content">
                    <a href="{% url "category" 'BC' %}" class="dropdown-item">Beads Choker</a>
                    <a href="{% url "category" 'NE' %}" class="dropdown-item">Necklace</a>
                    <a href="{% url "category" 'ER' %}" class="dropdown-item">Earring</a>
                    <a href="{% url "category" 'BB' %}" class="dropdown-item">Bead Bracelets</a>
                    <a href="{% url "category" 'WC' %}" class="dropdown-item">Waist Chain</a>
                    <a href="{% url "category" 'BR' %}" class="dropdown-item">Beads Rings</a>
                    <a href="{% url "category" 'PC' %}" class="dropdown-item">Phone Charm</a>
                    <a href="{% url "category" 'CL' %}" class="dropdown-item">Clips</a>

                  </div>
                </li>
                <li><a href="{% url "forms" %}">Customization</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">Services</a>
                  <div class="dropdown-content">
                    <a href="{% url "repair" %}" class="dropdown-item">Re-stringing</a>
                    <a href="{% url "resizing" %}" class="dropdown-item">Resizing</a>
                    <a href="{% url "replacement" %}" class="dropdown-item">Replacement or Repair</a>
                  </div>
                </li>
                <li>
                  <a href="{% url "wishlist" %}">
                    <span class="badge">{% if wishitem > 0 %} {{wishitem}}{% endif %}</span>
                    <i class="fas fa-heart"></i>
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">
                    <i class="fas fa-user-circle"></i></a>
                  <div class="dropdown-content">
                    <a href="{% url "profile"  %}" class="dropdown-item">User Profile</a>
                    <a href="{% url "passwordchange" %}" class="dropdown-item">Change Password</a>
                    {% comment %} <a href="{% url "orders" %}" class="dropdown-item">Order</a> {% endcomment %}
                    <a href="{% url "transaction_history" %}" class="dropdown-item">Trasaction History</a>
                    <a href="{% url "logout" %}" class="dropdown-item">Logout</a>
                  </div>
                </li>
                {% else %}
                <ul class="nav-links">
                <li><a href="{% url "login" %}">Login</a></li>
                <li><a href="{% url "customerregistration" %}">Register</a></li>
                <ul>
                {% endif %}
             </ul>         
        </div>

        <div class="darkLight-searchBox">
            {% comment %} <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div> {% endcomment %}
            <a href="{% url 'showcart' %}" class="nav-link text-white"><span class="badge bg-danger">{% if totalitem > 0  %} {{totalitem}} {% endif %} </span>
              <div class="dark-light">
                  <i class='bx bxs-cart'></i>
              </div>
          </a>        
            <div class="searchBox">
              <div class="searchToggle">
               <i class='bx bx-x cancel'></i>
               <i class='bx bx-search search'></i>
              </div>
              <div class="search-field" role="search" action="/search">
                <form class="custom-search-form" role="search" action="/search">
                  <input class="search-input" type="search" placeholder="Search" name="search" aria-label="Search">
                  <button class="search-button" type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </form>
              </div>
            
            {% comment %} <form class="custom-search-form" role="search" action="/search">
              <input class="search-input" type="search" placeholder="Search" name="search" aria-label="Search">
              <button class="search-button" type="submit">
                  <i class="fas fa-search"></i>
              </button>
          </form> {% endcomment %}
          
{% comment %}             
               <div class="searchBox">
               <div class="searchToggle">
                <i class='bx bx-x cancel'></i>
                <i class='bx bx-search search'></i>
               </div>

                <div class="search-field" role="search" action="/search">
                    <input type="search" placeholder="Search" name="search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search </button>
                    {% comment %} <i class='bx bx-search'></i> 
                </div>{% endcomment %}
            </div> 
        </div>
    </div>
</nav> 
    
             
{% block banner-slider %}{% endblock banner-slider %}
{% block information %}{% endblock information %}
{% block main-content %}{% endblock main-content %}
{% block payment-gateway %}{% endblock payment-gateway %}

<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <i class="fab fa-pagelines"></i>
        <span class="logo_name">Beadazzle</span>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/beadazzle.shop?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Company</li>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "contact" %}">Contact us</a></li>
        <li><a href="{% url "about" %}">About us</a></li>
        <li><a href="{% url "testimonials" %}">Testimonials</a></li>
        <li><a href="{% url "workshops" %}">Beads Workshops</a></li>
        <li><a href="{% url "blog" %}">Blogs</a></li>

      </ul>
      <ul class="box">
        <li class="link_name">Services</li>
        <li><a href="{% url "repair" %}">Re-stringing</a></li>
        <li><a href="{% url "replacement" %}">Replacement and Repair</a></li>
        <li><a href="{% url "resizing" %}"> Resizing</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Account</li>
        <li><a href="{% url "profile" %}">Profile</a></li>
        {% comment %} <li><a href="#">My account</a></li> {% endcomment %}
        <li><a href="{% url "wishlist" %}"><span class="badge bg-danger">{% if wishitem > 0 %} {{wishitem}}{% endif %} </span> Wishlist</a></li>
        {% comment %} <li><a href="{% url "transaction_history" %}">Order History</a></li> {% endcomment %}
      </ul>
      <ul class="box">
        <li class="link_name">Products</li>
        <li><a href="{% url "category" 'BR' %}">Rings</a></li>
        <li><a href="{% url "category" 'BB' %}">Bracelet</a></li>
        <li><a href="{% url "category" 'NE' %}">Beaded Necklace</a></li>
        <li><a href="{% url "category" 'ER' %}">Earring</a></li>
        <li><a href="{% url "category" 'PC' %}">Phone Charms</a></li>
        <li><a href="{% url "category" 'CL' %}">Clip charms</a></li>
        <li><a href="{% url "category" 'WC' %}">Waist Chain</a></li>
      </ul>
      {% comment %} <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li><input type="text" placeholder="Enter your email"></li>
        <li><input type="button" value="Subscribe"></li>
      </ul> {% endcomment %}
      <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li>
            <form method="post" action="{% url 'subscribe' %}">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email" required>
        </li>
        <li>
            <input type="submit" value="Subscribe">
            </form>
        </li>
    </ul>
   
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">Copyright © 2021 <a href="#">Beadazzle.Sh</a>All rights reserved</span>
      <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="{% url "terms" %}">Terms & condition</a>
      </span>
    </div>
  </div>
</footer>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
    {% comment %} <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://khalti.com/static/khalti-checkout.js"></script>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" > </script>
    
    <script src= "{% static 'beadaz\js\owl.carousel.min.js' %}"> </script> 
    <script src= "{% static 'beadaz\js\all.min.js' %}"> </script> 
    <script src= "{% static 'beadaz\js\myscript.js' %}"> </script> 
    
 </body>
</html> 