{% extends "beadaz/base.html" %}
{% load static %}
{% block title %}Subscribe Now{% endblock title %}
{% block main-content %}
<br>
<br>
<div class="container">
    <h1>Subscription Successful</h1>
    <p>Thank you for subscribing! We are delighted to welcome you as a premium member of Beadazzle.
    Your support means a lot to us. We hope you enjoy the exclusive benefits and services we offer.</p>
        
    <p>Thankyou for choosing Beadazzle  (ㅅ´ ˘ `)  </p>
    <button id="home-btn">Continue</button>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }
    
    .container {
        max-width: 600px;
        margin: 100px auto;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        color: #007bff;
    }
    
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
</style>
<script>
    document.getElementById("home-btn").addEventListener("click", function() {
        window.location.href = "/";
    });
    
</script>

{% endblock main-content %}
